 @media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

/* head bar */

#head-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
}

.flex-img {
  width: 20%;
}

#avatar {
  width: 6rem;
  margin-left: min(2rem, 3vw);
}

/* navbar */

#navbar {
  width: 80%;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

#navbar a {
  color: white;
  font-size: 2.3rem;
  text-decoration: none;
  margin-right: min(3rem, 3.5vw);
  font-family: sans-serif;
}

#navbar a:nth-of-type(1) {
  margin-right: min(5rem, 8vw);
}

#navbar a:hover {
  color: #C5C5C5;
}

/* books-section */

#books {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(#003060, #000040, #000030);
  padding: 0 2rem;
  padding-top: 7rem;
  padding-bottom: 9rem;
  text-align: center;
}

.book-h2 {
  color: white;
  font-size: min(5rem, 9vw);
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 10rem;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 40%));
  grid-gap: 8rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 9rem;
  align-items: center;
  justify-content: center;
}

.book-tile {
  border: 1px solid grey;
  border-radius: 5px;
}

.book-img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  height: min(38rem, 70%);
}

.book-name {
  width: 100%;
  height: 7rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(220, 220, 220);
  margin-top: -0.1rem;
  font-size: min(2.5rem, 5.5vw);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  border-radius: 0 0 5px 5px;
  font-weight: bold;
  text-align: center;
  padding: 0 1rem;
}

.book-tile:hover {
  border: 1px solid white;
  border-radius: 5px;
}

.book-tile:hover .book-name {
  color: white;
}

/* projects page link */

#projects-page-link {
  text-align: center;
  font-size: min(3rem, 6vw);
  border: 3px solid white;
  padding: 1rem;
  border-radius: 5px;
  max-width: 300px;
}

#projects-page-link:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  font-weight: bold;
}

#go-top {
    font-size: min(2rem, 5vw);
    position: fixed;
    bottom: 7rem;
    right: 2rem;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 3px;
}

#go-top:hover {
    background-color: rgba(255, 255, 255, 0.65);
    color: rgb(0, 0, 0);
}