 * {
  box-sizing: border-box;
  margin: 0;
  font-family: "Gill Sans", sans-serif; 
  text-decoration: none;
}

html {
  background-color: #28282B;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.2rem;
  background-color: #001861;
  font-family: "Gill Sans", sans-serif;
}

#avatar {
  position: fixed;
  width: 4em;
  top: 9px;
  margin-left: 2%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 16.3em;
  height: 100%;
  margin-left: auto;
  margin-right: 4%;
  flex-direction: row;
  align-items: center;
}

#navbar a {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  margin-top: 1.3em;
}

.nav div {
  height: 100%;
}

.nav div:hover {
  background-color: #00008B;
  box-shadow: 5px 6px 10px black;
  font-size: 1.1em;
  padding: 2.2%;
  margin-bottom: 15px
}

#welcome-section {
  height: 100vh;
  background: linear-gradient(120deg, black 60%, #36454F);
  width: 100%;
  color: white;
  font-family: "Gill Sans", sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.h1-img {
  text-align: center;
  height: 27em;
}

.h1-img img {
width: 15em;
}

.h1-img p {
  font-size: 1.5em
}

.projects-title {
  text-align: center;
  padding-top: 2em;
  font-family: "Gill Sans", sans-serif;
  margin-bottom: 1.5em;
  color: white;
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  color: black;
  font-family: "Gill Sans", sans-serif;
  padding-bottom: 4em;
}

#projects img {
  width: 320px;
  max-width: 350px;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}

.project-name {
  background-color: grey;
  height: 60px;
  margin-top: -20px;
  border-radius: 10px;
}

.project-name p {
  padding-top: 20px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.project-tile:hover {
  color: white;
}

#contact {
  color: white;
  background: linear-gradient(60deg, black 60%, #36454F);
  width: 100%; 
  padding-bottom: 3em;
}

h1 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.7em;
  padding-top: 1em;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex div a{
  color: white;
}

.ig a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex  div {
  margin: 1em
}

.ig img {
  width: 3em;
  margin-bottom: 7px;
}

.email img {
  width: 3.5em;
}

@media (prefers-reduced-motion: no-preference) {
 * {
    scroll-behavior: smooth;
  }
}