 html {
  border: 15px solid;
  height: 95vh;
  border-radius: 10px;
  overflow-y: scroll;
}

body {
  text-align: center;
  font-family: sans-serif;
  overflow-y: scroll;
}

#camera {
  font-size: 100px;
  position: fixed;
  top: -30px;
  right: 48%;
}

#user-input {
  display: block;
  margin: auto;
  width: 70vw;
  max-width: 400px;
}

button {
  margin-top: 20px;
}

#results-div {
  margin-top: 20px;
}
